<pre class="command-line code-collapse language-bash" data-filter-output="(o)" data-trunc="300" style="mask-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0) 200px, rgba(0, 0, 0, 0)); max-height: 300px; margin-bottom: 20px; overflow-y: hidden;">
  <code style="display: inline-block; margin: 0px;">{{ trim .Inner "\n" }}</code>
  <a href="javascript:void(0)" style="position: absolute; bottom: 15px; right: 15px;" title="Click to expand for full content"><img src="/icons/expand.png" alt="expand" class="expand-contract"></a>
</pre>
